@import "tailwindcss";


body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #2563eb; 
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
